body {
    overflow-x: hidden;
}

#bg1 {
    background-image: url(https://www.cpasitesolutions.com/cpa-websites/wp-content/uploads/2024/06/local-seo-for-bookeepers-1.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

#bg2 {
    background-image: url(https://www.icu.ac.jp/en/assets/img/academics/ph_gs_ma_01.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}